*
{
	margin: 0;
	padding: 0;
}

html { font-size: 9pt; }

body
{
	z-index: 0;
	position: relative;
	font-family: Arial, "Arial Unicode MS", Helvetica, Verdana, sans-serif;
	font-size: 100%;
	line-height: 1.2em;
	text-align: center;
	-webkit-text-size-adjust: 100%;
}

html, body
{
	width: 100%;
	height: 100%;
	color: #000;
	background-color: #fff;
}

/**************************************************************************************************/
a, a:visited, a:hover, a:active
{
	text-decoration: none;
	color: #000;
}

ul, li { list-style: none; }
:focus { -moz-outline-style: none; }
a { outline: none; }

hr
{
	border: 0;
	height: 1px;
	margin: 0.75em 0 1.5em 0;
	background-color: #000;
	clear: both;
}

/**************************************************************************************************/
/* Font faces. */

@font-face {
	font-family: 'LangdonRegular';
	src: url('../fonts/langdon-webfont.woff2') format('woff2'),
			 url('../fonts/langdon-webfont.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}

/**************************************************************************************************/
.ember-view,
.Wrapper,
.Core,
.Core h1
{
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	align-items: center;
	justify-content: center;
	align-content: center;
}

/**************************************************************************************************/
.ember-view
{
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
}

.Wrapper
{
	width: calc(100% - 20px);
	height: calc(100% - 20px);
	margin: 0;
	padding: 10px;
}

/**************************************************************************************************/
.Core
{
	width: calc(100% - 20px);
	height: calc(100% - 20px);
	background-image: url("../media/clouds_2.jpg");
	background-repeat: no-repeat;
	background-position: left top;
	background-size: cover;
}

/**************************************************************************************************/
.Core h1
{
	position: absolute;
	top: 0;
	left: 0;
	font-family: "LangdonRegular", "Georgia", "New York", "Times New Roman", "Times", serif;
	font-weight: normal;
	text-transform: uppercase;
	line-height: 0.9em;
	width: calc(100% - 20px);
	height: calc(100% - 20px);
	margin: 0;
	padding: 10px;
	color: #fff;
	clear: both;
	background-color: transparent;
}

/**************************************************************************************************/
.Core h1.fadein
{
	-webkit-animation: fadein 3s linear 1 forwards;
	-moz-animation: fadein 3s linear 1 forwards;
	animation: fadein 3s linear 1 forwards;
}

@-webkit-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}
@-moz-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}
@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/**************************************************************************************************/
.Core h1.fadeout
{
	-webkit-animation: fadeout 3s linear 1 forwards;
	-moz-animation: fadeout 3s linear 1 forwards;
	animation: fadeout 3s linear 1 forwards;
}

@-webkit-keyframes fadeout {
    from { opacity: 1; }
    to   { opacity: 0; }
}
@-moz-keyframes fadeout {
    from { opacity: 1; }
    to   { opacity: 0; }
}
@keyframes fadeout {
    from { opacity: 1; }
    to   { opacity: 0; }
}

/**************************************************************************************************/
.Core h1 a, .Core h1 a:active, .Core h1 a:hover, .Core h1 a:visited
{
	text-decoration: none;
	font-weight: normal;
	color: #000;
}

/**************************************************************************************************/
/* Media queries. */

@media (min-width: 320px)
{
	.Core h1 { font-size: 350%; }
}

@media (min-width: 480px)
{
	.Core h1 { font-size: 450%; }
}

@media (min-width: 768px)
{
	.Core h1 { font-size: 750%; }
}

@media (min-width: 1024px)
{
	.Core h1 { font-size: 950%; }
}

@media (min-width: 1920px)
{
	.Core h1 { font-size: 1250%; }
}
